**GOAL:** Explore conversion funnel of e-commerce website in order to suggest ways of improving the conversion rate.

In [1]:
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
import plotly.offline as py
py.init_notebook_mode()

In [3]:
import os
import plotly
import numpy as np
import pandas as pd

1. Project Overview
2. Load Data
3. Clean Data & EDA 
4. Build Predictive Model
5. Discussion

# 1. Project Overview

We are working with data from an e-commerce website. The site is very simple and has just 4 pages. The first page is the home page. When you come to the site for the first time, you can land on the home page. From the home page, the user can perform a search and land on the search page. From the search page, if the user clicks on a product, she will get to the payment page, where she is asked to provide payment information in order to buy that product. If she does decide to buy, she ends up on the confirmation page

The company CEO isn't very happy with the volume of sales and, especially, of sales coming from new users. Therefore, we are tasked with investigating whether there is something wrong in the conversion funnel or, in general, if we can suggest how the conversion rate can be improved.

# 2. Load Data

[Download data](https://www.kaggle.com/aerodinamicc/ecommerce-website-funnel-analysis):
* home_page_table.csv
* search_page_table.csv
* payment_page_table.csv
* payment_confirmation_table.csv
* user_table.csv

In [4]:
df_home_page = pd.read_csv('home_page_table.csv')
df_search_page = pd.read_csv('search_page_table.csv')
df_payment_page = pd.read_csv('payment_page_table.csv')
df_payment_confirmation_page = pd.read_csv('payment_confirmation_table.csv')
df_user_table = pd.read_csv('user_table.csv')

In [5]:
datasets = [df_user_table, df_home_page, df_search_page, df_payment_page, df_payment_confirmation_page]

In [6]:
df_home_page.head()

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page
3   290784  home_page
4   639104  home_page

In [7]:
df_user_table.head()

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male
3   190794  2015-02-18  Desktop  Female
4   537909  2015-01-15  Desktop    Male

For every page, the respective csv contains a list of user_id's that visited that page and a categorical column called page. The user table contains information about the date the user accessed the website as well as the gender and device used.

# 3. Clean Data & EDA

For each variable:
* Check missing %

In [8]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

In [9]:
print("Percent Missing: ","\n")

for df in datasets:
    print(namestr(df, globals())[0])
    print(df.isnull().sum()/len(df) * 100, '\n')

Percent Missing:

df_user_table
user_id    0.0
date       0.0
device     0.0
sex        0.0
dtype: float64

df_home_page
user_id    0.0
page       0.0
dtype: float64

df_search_page
user_id    0.0
page       0.0
dtype: float64

df_payment_page
user_id    0.0
page       0.0
dtype: float64

df_payment_confirmation_page
user_id    0.0
page       0.0
dtype: float64

We are lucky and don't have any missing values for this dataset.

* Look for outliers

In [10]:
for df in datasets:
    print(namestr(df,globals())[0])
    print(df.describe(),'\n')

df_user_table
             user_id
count   90400.000000
mean   498709.683473
std    289040.674085
min        17.000000
25%    247978.750000
50%    498267.000000
75%    749789.250000
max    999979.000000

df_home_page
             user_id
count   90400.000000
mean   498709.683473
std    289040.674085
min        17.000000
25%    247978.750000
50%    498267.000000
75%    749789.250000
max    999979.000000

df_search_page
             user_id
count   45200.000000
mean   498423.147655
std    288370.781395
min        17.000000
25%    248931.750000
50%    496500.500000
75%    748352.000000
max    999928.000000

df_payment_page
             user_id
count    6030.000000
mean   495136.066003
std    288022.646252
min        38.000000
25%    247135.500000
50%    494084.000000
75%    745352.000000
max    999896.000000

df_payment_confirmation_page
             user_id
count     452.000000
mean   477639.798673
std    274527.225478
min      4561.000000
25%    255701.250000
50%    459776.500000
75%    712288.000000
max    999315.000000

Observations: 
* We start with 90,400 customers that visit the home page. 
* 45,200 land on the search page. 
* 6,030 proceed to the payment page. 
* Only 452 reach the payment confirmation page.

Let's join the page someone visited back onto the user table.

In [11]:
for i,df in enumerate(datasets): 
    #first df is the user table
    df_name = namestr(df, globals())[0]
    if i==0:
        df_merged = df
    else:
        df_merged = pd.merge(df_merged,df,how='left',on='user_id',
                             suffixes=('','_'+df_name))

In [12]:
df_merged.fillna('churn',inplace=True)

In [13]:
df_merged.head()

,user_id,date,device,sex,page,page_df_search_page,page_df_payment_page,page_df_payment_confirmation_page
0,450007,2015-02-28,Desktop,Female,home_page,churn,churn,churn
1,756838,2015-01-13,Desktop,Male,home_page,churn,churn,churn
2,568983,2015-04-09,Desktop,Male,home_page,search_page,churn,churn
3,190794,2015-02-18,Desktop,Female,home_page,search_page,churn,churn
4,537909,2015-01-15,Desktop,Male,home_page,churn,churn,churn

In [14]:
columns = ['user_id','date','device','sex','home','search','payment','payment_confirmation']
pages = columns[4:]

In [15]:
df_merged.columns = columns

Let's define a helper function. It will take in a dataframe as well as column name and output the frequency of each value of that column.

In [16]:
def check_distribution(df,col):
    counts = df[col].value_counts(dropna=False)
    percentages = counts / len(df) * 100
    df_percentages = pd.DataFrame({col:percentages.index.values,'count':counts.values,'percent':percentages.values})
    return df_percentages

## Visit Counts by Page

Let's create a sankey diagram to view the flow of customers in the pipeline.

In [88]:
sankey_columns = ['from','to','count']
df_sankey = pd.DataFrame(columns=sankey_columns)
combos = len(pages) - 1 #total number of sankey source-target combos
for combo in range(combos):
    cols = pages[combo:combo+2]
    df_temp = df_merged.groupby(cols,as_index=False)[['user_id']].count()
    df_temp.columns = sankey_columns
    df_sankey = pd.concat([df_sankey,df_temp]) 
    
#remove churn-churn flow 
df_sankey = df_sankey[df_sankey['from'] != 'churn'] 
df_sankey['color'] = ['white','lawngreen','white','lawngreen','white','lawngreen']

#'from' and 'to' need to be ints for sankey. Create dictionary to map them to distinct ints
sankey_groups = {'home_page':0,'search_page':1,'payment_page':2,'payment_confirmation_page':3,'churn':4}
df_sankey['from_group'] = df_sankey['from'].apply(lambda x: sankey_groups.get(x))
df_sankey['to_group'] = df_sankey['to'].apply(lambda x: sankey_groups.get(x))

In [89]:
df_sankey

,from,to,count,color,from_group,to_group
0,home_page,churn,45200,white,0,4
1,home_page,search_page,45200,lawngreen,0,1
1,search_page,churn,39170,white,1,4
2,search_page,payment_page,6030,lawngreen,1,2
1,payment_page,churn,5578,white,2,4
2,payment_page,payment_confirmation_page,452,lawngreen,2,3

In [90]:
df_sankey_grouped = df_sankey.groupby('from', as_index=False)[['count']].sum()

In [91]:
df_sankey = pd.merge(df_sankey, df_sankey_grouped, how='left', on='from',suffixes=('','_from_total'))
df_sankey['count_from_pct'] = df_sankey['count']/df_sankey['count_from_total'] * 100
df_sankey

,from,to,count,color,from_group,to_group,count_from_total,count_from_pct
0,home_page,churn,45200,white,0,4,90400,50
1,home_page,search_page,45200,lawngreen,0,1,90400,50
2,search_page,churn,39170,white,1,4,45200,86.6593
3,search_page,payment_page,6030,lawngreen,1,2,45200,13.3407
4,payment_page,churn,5578,white,2,4,6030,92.5041
5,payment_page,payment_confirmation_page,452,lawngreen,2,3,6030,7.49585

In [67]:
##might need to set credentials to view plotly offline
#plotly.tools.set_credentials_file(username='hacheemaster', api_key='ob5Cx3BlxHPXQWQ7KCEj')

In [96]:
data_trace = dict(
    type='sankey',
    domain = dict(
      x =  [0,1],
      y =  [0,1]
    ),
    orientation = "h",
    valueformat = ".0f",
    node = dict(
      pad = 10,
      thickness = 30,
      line = dict(
        color = "black",
        width = 0.5
      ),
      label =  pages
    ),
    link = dict(
      source = df_sankey['from_group'].dropna(axis=0, how='any'),
      target = df_sankey['to_group'].dropna(axis=0, how='any'),
      value = df_sankey['count'].dropna(axis=0, how='any'),
      color = df_sankey['color']  
  )
)

layout =  dict(
    title = "Customer Flow through e-commerce website",
    height = 772,
    width = 950,
    font = dict(
      size = 18
    ),    
)


fig = dict(data=[data_trace], layout=layout)
py.iplot(fig, validate=False)

Observations:
* Home to Search : 
    * Conversion Rate: 50% 
    * From the sankey visualization we can see that we are doing a good job of converting customers from the home page to the search page. Ways in which we can improve conversion from home to search include **A/B testing** the _headline, Call To Action, logo,_ and _search and navigation bar_.
* Search to Payment: 
    * Conversion Rate: 13%. 
    * We can improve our search algorithm by using better NLP methods to provide faster - 1d-CNNs as opposed to RNNs - and more accurate results. 
    * The auto-fill algorithm can be improved and tested to measure improvement.
* Payment to Payment_Confirmation: 
    * Conversion Rate: 7.5%
    * We can use a heatmap to see what parts of the screen the user spends the most time on to get better insight on what's detracting the user away from the payment_confirmation page. 
    * A/B test a variety of pages: a version with no **up-sells** and **cross-sells**, a version with up-selling and cross-selling, and a version showing similar products to the one being purchased.

## Target: XXX

In [120]:
for page in pages:
    print(check_distribution(df_merged,page),'\n')

        home  count  percent
0  home_page  90400    100.0

        search  count  percent
0  search_page  45200     50.0
1          NaN  45200     50.0

        payment  count    percent
0           NaN  84370  93.329646
1  payment_page   6030   6.670354

        payment_confirmation  count  percent
0                        NaN  89948     99.5
1  payment_confirmation_page    452      0.5

## Covariate 1

In [ ]:
check_distribution(train,'')

## Covariate 2

In [ ]:
check_distribution(train,'')

## Covariate 3

In [ ]:
check_distribution(train,'')

# 4. Build Predictive Model

In [ ]:
from sklearn import

# 5. Discussion